<footer class="blog-footer">
    <ul class="nav">
        {% if USE_CUSTOM_MENU %}
            {% for name, url in CUSTOM_MENUITEMS %}
                <li><a href="{{ SITEURL }}/{{ url }}">{{ name }}</a></li>
            {% endfor %}
        {% else %}
            {% for page in PAGES %}
                <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        {% endif %}
        {% for title,url in CONTACTS %}
            {% if title|lower == 'linkedin' %}
                <li><a href="{{ url }}"><i class="fab fa-linkedin"></i></a></li>
            {% elif title|lower == 'github' %}
                <li><a href="{{ url }}"><i class="fab fa-github"></i></a></li>
            {% elif title|lower == 'orcid' %}
                <li><a href="{{ url }}"><i class="fab fa-orcid"></i></a></li>
            {% else %}
                <li><a href="{{ url }}"></a></li>
            {% endif %}
        {% endfor %}
        {% if CONTACT_EMAIL %}
            <li><a href="mailto:{{ CONTACT_EMAIL }}" rel="nofollow"><i class="fas fa-envelope"></i></a></li>
        {% endif %}
    </ul>

    <p class="disclaimer">
    {% if SITEFOOTER %}
        {{ SITEFOOTER }}
    {% else %}
    {% endif %}
    </p>
</footer>